<%- include ("partials/_header") %>


<!-- MAIN CONTENT -->
<br>
<div class="container">
    <header class="row">
        <div class="col-lg-12 text-center mt-5 mb-5">
            <img src="/img/mono.gif" class="w-auto animated bounceIn" alt="Website Logo">
        </div>
    </header>
</div>


<script>
    // $(document).ready(function () {
    //     document.getElementById('navlink_principal').style.color = 'YELLOW';
    // });

    document.addEventListener('DOMContentLoaded',()=>{
        document.getElementById('navlink_principal').style.color = 'YELLOW';
    })

</script>


<%- include ("partials/_footer") %>