<style>
    .pb_icon:hover {
        color: rgb(235, 240, 141);
        cursor: pointer;
        margin-right: 3px;
        margin-top: 5px;
    }

    .vertical-center {
        margin: 0;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    #divPDF,
    #PDF_RECIBIDAS_UPDATE,
    #PDF_CONTESTACIONES_CREATE,
    #PDF_CONTESTACIONES_UPDATE,
    #PDF_AUDIENCIA_CREATE,
    #PDF_AUDIENCIA_UPDATE {
        background-color: #DDDDDD;
        height: 390px;
        border-radius: 5px;
        display: flex;
    }

    #PDF_RECIBIDAS_READ {
        background-color: #DDDDDD;
        height: 450px;
        border-radius: 5px;
        display: flex;
    }
    #PDF_AUDIENCIA_READ {
        background-color: #DDDDDD;
        height: 430px;
        border-radius: 5px;
        display: flex;
    }

    .divheader {
        background-color: rgb(53, 97, 10);
        border-radius: 8px 8px 0 0;
        height: 30px;
        color: white;
    }

    .espaciado {
        margin: 20px;
    }

    .ancho {
        width: 360px;
    }

    .card .card-image .pb_card-title {
        color: #fff;
        background-color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        padding-left: 5px;
        margin-left: 15px;
        margin-bottom: 50px;
        padding-bottom: 2px;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 3px 3px 6px 0px rgba(105, 202, 72, 0.44);
        -webkit-box-shadow: 3px 3px 6px 0px rgba(105, 202, 72, 0.44);
        -moz-box-shadow: 3px 3px 6px 0px rgba(105, 202, 72, 0.44);
        cursor: pointer;

    }

    .card .card-image .pb_card-title:hover {
        border-radius: 5px 5px 5px 5px;
        box-shadow: 5px 5px 6px 0px rgba(105, 202, 72, 0.95);
        -webkit-box-shadow: 5px 5px 6px 0px rgba(105, 202, 72, 0.95);
        -moz-box-shadow: 5px 5px 6px 0px rgba(105, 202, 72, 0.95);
    }

    input[type="file"] {
        /* border: 1px solid red; */
        white-space: normal;
        word-wrap: break-word;
        width: 100%;
        overflow: auto;
    }
</style>



<div class="card">
    <div class="card-image">
        <div id="divPDF" class=""></div>
        <span class="pb_card-title" onclick="fullscreen()">Vista Preliminar &nbsp</span>
        <!-- <a class="btn-floating halfway-fab waves-effect waves-light pulse btn-floating">
            <i class="material-icons tooltipped pb_icon " data-position="left" data-tooltip="Maximizar"
                onclick="fullscreen()">remove_red_eye</i></a> -->
    </div>
    <div class="card-content" style="margin-top:10px;">
        <div class="">
            <input type="file" name="archivoupload" id="id_file_pdf" accept=".pdf,.jpg" class="validate" required=""
                aria-required="true">
        </div>
    </div>
</div>